<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app.component.css" />
  </head>
  <body>
    <div class="container">
      <img class="img-function" src={{background}} style="display: {{display}}">
      <div class="item">
        <img class="image" src="{{ url }}" />
      </div>
      <div class="item">
        <div class="col">
        <div>
          <h1 class="title">{{ title }}</h1>
        </div>
        <div>
          <p>{{ message }}</p>
        </div>
        <div>
          <button (click)="celebrate()" class="btn">Celebremos</button>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
